@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@media only screen and (min-width: 140px) and (max-width: 770px) {
	/* #menu is the original menu */
	#sidebar {
		display:none!important;
	}
	
	.js .slicknav_menu {
		display:block;
	}
	.slicknav_menu{display: block!important;}
	#search {display: none!important;}
	#oyunlistesi {margin:0px!important;padding:0px!important;  width: 100%!important;}
	#rastgele{display: none!important;}
	#populer{display: none!important;}
	#serit{  height: 120px!important;  margin-bottom:15px!important;}
	#baslik{margin-top: 10px!important;}
	#home-reklam{margin-top: 15px;text-align: center;}
	#footer-yazi {display: none!important;}
	#socials img {height: 32px!important;width: 32px!important;}
	#stats{display: none!important;}
	#reklam2{display: none!important;}
	#oyundesc {width: 90%!important;margin-left:0px!important;margin-right:0px!important;text-align: center;}
	#beforegame {width: 90%!important;margin:0!important;}
	#icerik{  width: 89%!important;}
	#beforebaslik {width: 90%!important}
	#beforegame ul {display: none!important;}
	#yorumbaslik {width: 90%!important;}
	#yanduzenle {height: 400px!important;}
}
@media only screen and (min-width: 771px) and (max-width: 1202px) {
	#rastgele {margin-left: 100px!important;}
	#search #textfield { width: 133px!important;}
}
body {
	font-family: 'Roboto', sans-serif;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-color: #F2F2F2;
	margin: 0px;
	padding: 0px;
}
#birinci h3 {
	float: left;
	font-size: 13px;
	color: #333;
	margin-top: 30px;
}

a{color:#404C5A;text-decoration:none}
#serit {
	background-color: #404c5a;
	width: 100%;
	height: 100px;
	float: left;
	margin-bottom: 50px;
	background-image: url(../resimler/sbg.png);
}
#serit #logo {
	color: #ffd771;
	font-size: 23px;
	clear: left;
	float: left;
	margin-top: 10px;
}
#birinci #load {
	float: left;
}

#footer {
	background-image: url(../resimler/footer.png);
	background-repeat: repeat-x;
	background-position: center top;
	clear: both;
	height: 180px;
	width: 100%;
}
#rastgele {
	color:#404c5a;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
	background-color: #FFD771;
	height: 24px;
	width: 100px;
	padding-top: 9px;
	padding-left: 7px;
	float: left;
	margin-top: 23px;
	margin-left: 200px;
	background-image: url(../resimler/sbg.png);
}
.ozellikler {
	color:#F3F5F8;
	font-size:11px;
	font-family: 'Raleway', sans-serif;
	background-color: #404c5a;
	font-weight:bold;
	height: 26px;
	text-align:center;
	width: 180px;
	padding-top: 12px;
	background-image: url(../resimler/sbg.png);
	clear: left;
	border-right-width: 2px;
	border-right-style: dashed;
	border-right-color: #FFF;
}
#beforegame ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	float: left;
}
#beforegame ul li {
	float: left;
}

#populer {
	color:#404c5a;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
	background-color: #FFD771;
	height: 24px;
	width: 120px;
	padding-top: 9px;
	padding-left: 10px;
	float: left;
	margin-top: 23px;
	margin-left: 20px;
	background-image: url(../resimler/sbg.png);
}
#uyelik {
	text-align:center;
	color:#404c5a;
	font-size:11px;
	font-family: 'Roboto', sans-serif;
	background-color: #FFD771;
	height: 20px;
	width: 80px;
	padding-top: 9px;
	background-image: url(../resimler/sbg.png);
	clear: right;
	margin-bottom: 10px;
	float: left;
}
#giris {
	text-align:center;
	color:#404c5a;
	font-size:11px;
	font-family: 'Roboto', sans-serif;
	background-color: #FFD771;
	height: 20px;
	width: 82px;
	padding-top: 9px;
	background-image: url(../resimler/sbg.png);
	clear: right;
	margin-bottom: 10px;
	float: left;
	margin-left: 15px;
}
.oitem a span {
	margin-top: 5px;
	display: block;
}


#footer-icerik {
	background-color: #404C5A;
	height: 260px;
	width: 100%;
	border-top: 3px solid rgba(255,255,255,.1);
	background-image: url(../resimler/sbg.png);
}
#footer-ortala {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}


#stats p {
	font-family: 'Raleway', sans-serif;
	margin-top: 9px;
	  font-size: 12px;
	margin-left: 20px;
	float: left;
}
#sidebar ul {
	list-style-type: none;
	margin-left: 0px;
	padding: 0px;
	background-color: #ffd771;
	background-image: url(../resimler/sbg.png);
}
#sidebar ul li {
	-webkit-transition-duration: 03s;
	transition-duration: 0.3s;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.31);
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #404C5A;
	font-weight: bold;
	margin-bottom: 8px;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	width: 91%;
	display: block;
	float: left;
	padding-bottom: 5px;
	padding-left: 15px;
}
#sidebar ul li:hover {
	margin-left:8px;
}
#sidebar ul li a {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #404C5A;
	font-weight: bold;
	text-decoration:none;
}


#stats {
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	width: 88%;
	margin-right: auto;
	margin-left: auto;
	height: 35px;
	background-color: #12A5BA;
	margin-top: 100px;
	background-image: url(../resimler/sbg.png);
	font-size: 13px;
	color: #FFF;
}
#search #textfield {
	width: 133px;
	height: 28px;
	border: 1px solid #12a5ba;
	background-color: #12a5ba;
	background-image: url(../resimler/sbg.png);
	color: #FFF;
	padding-left: 7px;
}
#search #button {
	height: 32px;
	margin-left: 2px;
	color: #FFD771;
	border: 1px solid #12a5ba;
	background-color: #12a5ba;
	background-image: url(../resimler/sbg.png);
	font-size: 12px;
}
#search {
	float: right;
	margin-right: 20px;
	width: 220px;
}



#header {
	width: 82%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}
#icerik {
	width: 88%;
	margin-right: auto;
	max-width:1220px;
	margin-left: auto;
	clear: both;
	margin-top: 20px;
	position: relative;
	background-image: url(../resimler/seffaf.png);
}
#sidebar {
	float: left;
	height: auto;
	width: 16%;
	padding-bottom: 10px;
}
.slicknav_menu{display: none;}
#baslik {
	text-transform: uppercase;
	text-shadow: 1px 1px #000;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	height: 26px;
	width: 150px;
	background-color: #12A5BA;
	color: #FFF;
	padding-top: 8px;
	padding-left: 15px;
	line-height: 20px;
	background-image: url(../resimler/sbg.png);
	margin-bottom: 5px;
}

#oyunlistesi {
	float: left;
	height: auto;
	width: 68%;
	margin-left: 10px;
	padding-left: 17px;
	padding-bottom: 20px;
}
.oitem  {
	text-shadow: 1px 1px #DBDBDB;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	background:#fff;
	-webkit-transition-duration: 03s;
	transition-duration: 0.3s;
	font-family: 'Roboto', sans-serif;
	text-align:center;
	float: left;
	height: 130px;
	width: 140px;
	color: #404C5A;
	font-size: 13px;
	font-weight: bold;
	margin-top: 7px;
	padding: 5px;
	margin-right: 4px;
}
#oyunlistesi .oitem:hover {opacity:0.6;}

#site {
	width: 100%;
}
#beforegame {
	min-height:600px;
	border: 1px solid;
	max-width:810px;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	background-color: #FFF;
	width: 68%;
	float: left;
	margin-left: 15px;
}
#oyunafis {
	overflow:hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 238px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	margin-right: 50px;
}
#oyundesc span {
	width: 100%;
	font-size: 14px;
	text-shadow: 1px 1px #000;
	color: #F0F0F0;
	margin-top: 15px;
	float: left;
	margin-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #E9FEFE;
	padding-bottom: 2px;
}
#beforebaslik {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-weight: bold;
	font-size:13px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-shadow: 1px 1px #CCC;
	padding-left: 17px;
	float: left;
	width: 400px;
	margin-bottom: 5px;
}


#oyundesc {
	min-height:204px;
	max-height:230px;
	overflow:hidden;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	float: right;
	width: 54%;
	font-size: 12px;
	line-height:22px;
	background-color: #12A5BA;
	background-image: url(../resimler/sbg.png);
	color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 20px;
	margin-right: 41px;
}
#reklam2 {
	float: left;
	margin-top: 40px;
	margin-left: 20px;
}

#oyun-bilgileri {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}




#home-reklam {

}
#oyunswf {
	float: left;
	margin-bottom: 20px;
	width: 650px;
}
#benzer {
	float: left;
	width: 320px;
	height: 250px;
	margin-left: 10px;
}
#benzer ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#oyunlistesi table {
	margin-top: 10px;
	float: left;
	clear: both;
}
#oyun-bilgileri form input {
	width: 100%;
	height: 6%;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color: #12A5BA;
	background-image: url(../resimler/sbg.png);
	border: 1px dashed #0D7786;
	font-weight: bold;
	color: #FFF;
	font-size: 12px;
	padding-left: 10px;
}
#oyun-bilgileri form {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}
#uyebilgileri {
	width: 90%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
#uyebilgileri h2 {
	background-color: #FFD771;
	font-size: 14px;
	background-image: url(../resimler/sbg.png);
	color: #404C5A;
	width: 120px;
	padding: 7px;
	font-family: 'Roboto', sans-serif;

}
#yorum {
	height: auto;
	width: 650px;
	clear: both;
	margin-top: 20px;
	float: left;
}
.yorumlar h3 {
	margin: 0px;
	font-size: 13px;
	color: #404c5a;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #404c5a;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#yorum .yorumlar p {
	font-size: 12px;
	color: #404c5a;
}

#yorumbaslik {
	text-shadow: 0.5px 0.5px #B0B0B0;
	background-color: #ffd771;
	background-image: url(../resimler/sbg.png);
	float: left;
	width: 618px;
	height: 17px;
	font-size: 14px;
	color: #404C5A;
	border: 2px dashed rgba(110, 104, 77, 0.48);
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
#yorum textarea {
	font-family: 'Raleway', sans-serif;
	width: 83%;
	height: 150px;
	background-color: #ffd771;
	background-image: url(../resimler/sbg.png);
	border: 2px dashed rgba(110, 104, 77, 0.48);
	margin-top: 15px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	padding: 10px;
	font-size: 12px;
	color: #404C5A;
}
.yorumlar {
	padding: 10px;
	height: auto;
	width: 96%;
	margin-top: 10px;
	border: 2px dashed #404c5a;
	clear: both;
	float: left;
}

#yorum input {
	background-color: #ffd771;
	background-image: url(../resimler/sbg.png);
	border: 2px dashed rgba(110, 104, 77, 0.48);
	float: right;
	width: 15%;
	margin-top: 15px;
	height: 150px;
}
#footer-yazi {
	font-family: Arial, Helvetica, sans-serif;
	float:right;
	line-height: 1.8em;
	margin-left:25px;
	font-size: 12px;
	color: #E2E2E2;
	width: 790px;
}
